@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Edu+SA+Beginner:wght@500&family=IBM+Plex+Sans:wght@700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=IBM+Plex+Sans:wght@700&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
  
}
header{
	background-color: white;
	
}
/* div {
   text-align:center;
    display: flex;
	width:100% ;
	
}   */
img {
    margin: auto;
    padding: auto;
  	width:100%;
	height:100%;
	overflow:auto;  

}

body {

	overflow:auto;
}
.menu{
    display: flex;
    position: sticky;
    align-items: right;
    justify-content: right;
    top: 0;
    cursor: pointer;
	background-color: rgb(52,105,12);
	background-size: 100%;
}
.menu-list{
	
    width: 65%;
    display: flex;

}
.menu-list li{
    list-style: none;
    padding: 20px 20px;

}
.menu-list li a{
    text-decoration: none;
    color:white;
    font-size: 120%;
    font-weight: 900;
	
	background-size: 200%;
	
}
.menu-list li a:hover{
    color:rgb(110,171,72);
	background-color: rgb(236,199,52);
	background-size: 200%;
}
h1{
    height: 40%;
    width: auto;
	size: 40%;
    font-weight: bolder;
	font-family:Dancing Script;
    text-align: center;
    font-size: 730%;
    color:green;
	padding-top: -50%;
	/* padding-left: 30%;
    padding-bottom: 8%;
    position: absolute; */
}