@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Edu+SA+Beginner:wght@500&family=IBM+Plex+Sans:wght@700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=IBM+Plex+Sans:wght@700&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
   
}
header{
	background-color: white;
	
}

img {
    
	max-height:600px;
	overflow:auto;

}
body {
	min-width:fit-content;
	 position:fixed;
	overflow:auto;
}
.menu{
    display: flex;
    position: sticky;
    align-items: right;
    justify-content: right;
    top: 0;
    cursor: pointer;
		background-color: rgb(52,105,12);
	background-size: 200%;
}
.menu-list{
	
    width: 65%;
    display: flex;

}
.menu-list li{
    list-style: none;
    padding: 20px 20px;

}
.menu-list li a{
    text-decoration: none;
    color:white;
    font-size: 120%;
    font-weight: 900;
	
	background-size: 200%;
	
}
.menu-list li a:hover{
    color:rgb(110,171,72);
	background-color: rgb(236,199,52);
	background-size: 200%;
}
h1{
    height: 70%;
    width: auto;
    font-weight: bolder;
	font-family:Dancing Script;
    text-align: center;
    font-size: 730%;
    color: white;
	background-image:url("img/bbc.jpg");
	background-repeat:no-repeat;
	background-size:100%;
    background-attachment:fixed;
}
p{
    height: 90%;
    width: auto;
    font-weight: bolder;
    text-align: center;
	text-indent:10px;
    font-size: 150%;
    color: black;
	position:top;
	font-family: Edu SA Beginner ;
}